<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <LINK REL=StyleSheet HREF="/css/font-awesome.css" TYPE="text/css" MEDIA=screen>
  <LINK REL=StyleSheet HREF="/css/style.css" TYPE="text/css" MEDIA=screen>
  <LINK REL="SHORTCUT ICON" HREF="/favicon.ico">
</head>

<body>
  
<div id="wrapper">
  <div class="container">
    <div id="header" style="clear: both;text-align: right;">
      <div style="float:left;">
        <a id="me" href="/index.html" style="font-size: 50px;font-weight:bold;">Jared Wright</a>
      </div>
    </div>
    
    
    <!--<div id='nav'>
      <a href='/index.html'>Home</a>
    </div>-->
    <br>
    <hr>
    {{ content }}
    <hr>
  </div>
  <div id="footer" class="hidden-print">
    <section class="meta">
      <div class="container">
      <a href="mailto:jawerty210@gmail.com">
        Email&nbsp;
      </a>|
      <a href="https://docs.google.com/document/d/1HRgiW0uo2yUMENbu3WHkPcLbPxc7YaC9BXK7Nr6dX7M/pub">
        Resume&nbsp;
      </a>|
      <a href="https://github.com/jawerty">Github&nbsp; </a>|
      <a href="http://www.linkedin.com/in/jawerty/">LinkedIn&nbsp; </a>|
      <a href="http://twitter.com/jawerty">Twitter</a>
      </div>
    </section>
  </div>
</div>
</body>
</html>
