---
layout: layout
---

<section class="content">
  <title>{{ page.title }}</title>
  <section class="byline">
  	<p id='title'>
    {{ page.title }}
  	</p>
    {{ page.date | date: "%B %e, %Y" }}
    <br><br>
    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
   <g:plusone size='medium'></g:plusone>
    <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
</section>

  {{ content }}

</section>

<div style="border-radius: 5px;font-size: 24px; margin-bottom: 20px;"><div id='cudos_button'></div><script type='text/javascript' >url = document.URL;iframe = document.createElement('IFRAME'); iframe.setAttribute('src', 'http://cudos-io.herokuapp.com/btn/fEq66RWwSGQgGe7Faioaj0pPV6PicXrg?url='+url);iframe.style.minWidth = 120+'px'; iframe.style.height = 60+'px'; iframe.frameBorder='0';iframe.style.name='The best blog on the interwebs'; document.getElementById('cudos_button').appendChild(iframe); </script></div>
